@import url('https://fonts.googleapis.com/css?family=Pacifico|Varela+Round');
body {
  background-image: url("img/dark-bg2.png");
  text-align: center;
}

h1 {
 font-size: 5em;
 font-family: 'Pacifico', cursive;
 color: #F1C40F;
}

p {
  margin:2em;
  line-height: 1.5;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.number{
 font-size: 3em;
 width: 250px;
 text-align: right;
 margin-bottom: 1em;
}

.start{
 font-family: 'Varela Round', sans-serif;
 color: black;
 display: block;
 background-color: orange;
 color: white;
 width: 5em;
 height: 5em;
 margin-left: auto;
 margin-right: auto;
 border-radius: 2.5em;
 line-height: 5em;
 text-decoration: none;
 box-shadow: 2px 2px 5px black;
 border: 0;
}

.start: hover{
 color: white;
 transition: margin-right 2s;
}